div.content{
    width: 1000px;
    margin: 0 auto;
}

div.header{
    width: 100%;
    background: #ECECEC;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 20px;
}

.content .right{
    position: relative;
    float: right;
    right: 0;
}

.content .left{
    position: relative;
    float: left;
    left: 0;
}

div.title{
    display: inline-block;
    float: left;
    margin-left: 200px;
}

div.title > *{
    margin: 0 auto;
    font-size: 42px;
}

div.footer{
    bottom: 0;
    background: #ECECEC;
    position: fixed;
    width: 100%;
    height: 65px;
    padding: 10px;
}

.btn-big{
    height: 69px;
}

.manyButtons button{
    margin-left: 10px;
}

.no-padding{
    padding: 0 !important;
}

.no-padding .content > *{
    padding: 20px 0;
}

.summary{
    /*background: #ff0000;*/
    top: 0;
    font-size: 14px;
    text-align: right;
    font-family: OpenSans, sans-serif;
    height: 100%;
}

.summary p, .summary h2{
    margin: 0;
    padding: 0 15px 0 0;
}