/*========* CARD-ITEM *=========*/

.icon-email:before {
    content: '\e800';
    color: #a4a4a3;
    /*color: #81bb72; accept*/
    /*color: #ec7e82; denied*/

}
.icon-name:before { content: '\e801'; }

/* End font loading */

.catalog{
    width: 1168px;
    margin: auto;
}

.catalog-menu .breadcrumb{
    background: none;
    padding: 25px 0px 0px;
}

.catalog-menu .breadcrumb span a{
    text-decoration: underline;
    padding-right: 5px;
    padding-left: 5px;
}

.catalog-menu .fa{
    font-size: 10px ;
}

.item-card .item-counter-info{
    padding: 15px 35px;
}

.item-name{
    padding-left: 5px;
}

.item-photos{
    width: 45%;
    float: left;
    padding-right: 40px;
    position: relative;
}

.item-photos .slick-slide{
    height: auto;
}

.item-info{
    width: 55%;
    float: left;
}

.item-dop-info{
    float: right;
}

.item-info .code{
    font-size: 12px;
    padding-bottom: 15px;
}

.pricelist{
    float: left;
    width: 304px;
}

.pricelist-content{
    border: 1px solid #EBEBEB;
    background: #F1F1F1 none repeat scroll 0% 0%;
    border-radius: 5px;
    text-align: center;
}

.pricelist-warning{
    padding: 20px 10px 0;
    font-size: 13px;
}

.pricelist-warning span{
    color: #f9b61a;
    font-weight: bold;
}

.item-card .rating{
    display: inline-block;
    padding: 10px 0;
}

.item-card .item-wish-text, .item-card .vip, .item-card .notification{
    text-decoration: underline;
}

.availability{
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #DEDEDE;
    height: 33px;
    font-size: 13px;
    color: #3e77aa;
}

.counterWrapper{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dedede;
    line-height: 28px;
}

.counterWrapper-vip{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dedede;
    line-height: 28px;
}

.counterWrapper-discount{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dedede;
    line-height: 28px;
}

.pricelist-content .progress{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #dedede;
    box-shadow: none;
    border-radius: 0px;
    background: none;
    height: 185px;
    margin: 0px;
}

.pricelist-content-not-available .availability{
    color: #7a7a7a;
}

.pricelist-content-not-available .counterWrapper{
    opacity: 0.5;
}

.pricelist-content-not-available .progress{
    height: 145px;
}

.pricelist-content-not-available .progress .deliv{
    display: none;
}

.pricelist-content-not-available .progress .how-much-left{
    display: none;
}

.pricelist-content-not-available .progress .canBuy{
    padding-top: 20px;
}

.pricelist-content-not-available .progress .canBuy .yellow-button{
    color: #404040;
    text-shadow: 1px 1px #f9f9f9;
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #dedede 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(80%,#dedede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1f1f1 0%,#dedede 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.pricelist-content-discount .availability{
    color: #6fad7e;
}

.pricelist-content-vip .availability{
    color: #6fad7e;
}

.item-card .about-price{
    font-size: 13px;
    padding-top: 15px;
}

.item-card .about-price > span{
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

.item-card .item-Ñontent{
    padding-top: 15px;
}

.item-card .title{
    font-size: 20px;
    color: #414141;
}

.item-card .deliv{
    padding-top: 12px;
    padding-bottom: 33px;
}

.how-much-left{
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.how-much-left-text{
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 35px;
}

.item-card .minihead{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}

.item-card .minihead:before{
    display: inline-block;
    vertical-align: middle;
    padding-right: 12px;
    width: 45px;
}

.item-card .item-dop-info > div{
    padding-bottom: 25px;
}

.shareToFriends{
    float: left;
}

.social-border{
    float: left;
}

.socialItemInfo{
    height: 50px;
    display: -moz-box;
    padding-top: 50px;
    padding-bottom: 40px;
}

.soc-item-share .uptolike-buttons{
    float: left;
}

.price{
    padding-top: 5px;
}

.price span{
    font-size: 30px;
    font-weight: bold;
    color: #414141;
}

.price span:after{
    content: '';
    font-size:14px;
}

.retail-price span{
    font-size:13px;
}

.retail-price{
    width: -moz-max-content;
    margin: auto;
    padding-bottom: 13px;
    font-size: 13px;
    line-height: 15px;
}

.pricelist-content-discount .counterWrapper-discount .retail-price i{
    text-decoration: line-through;
    text-decoration-color: red;
    font-style: normal;
}

.counterWrapper-discount{
    padding-bottom: 10px;
}

.counterWrapper-discount .price span{
    color: #66a775;
    padding-top: 0px ;
}

.counterWrapper-discount .saving{
    font-size: 13px;
}

.counterWrapper-discount .retail-price{
    padding-top: 5px;
}

.counterWrapper-discount .price {
    padding-top: 0px ;
}

.pricelist-content-discount .how-much-left-text-sec{
    color: #dd5b5b;
}

.pricelist-content-vip .how-much-left-text-sec{
    color: #dd5b5b;
}

.pricelist-content-discount .counterWrapper{
    display: none;
}

.pricelist-content-discount .counterWrapper-vip{
    display: none;
}

.pricelist-content-discount .about-price-not-available{
    display: none;
}

.pricelist-content-available .counterWrapper-discount{
    display: none;
}

.pricelist-content-available .counterWrapper-vip{
    display: none;
}

.pricelist-content-available .about-price-not-available{
    display: none;
}

.pricelist-content-not-available .counterWrapper-discount{
    display: none;
}

.pricelist-content-not-available .counterWrapper-vip{
    display: none;
}

.pricelist-content-not-available .about-price-available{
    display: none;
}

.pricelist-content-vip .counterWrapper-discount{
    display: none;
}
.pricelist-content-vip .counterWrapper{
    display: none;
}

.pricelist-content-vip .about-price-not-available{
    display: none;
}

.pricelist-content-vip .counterWrapper-vip .price{
    width: 192px;
    background: #66a775 none repeat scroll 0% 0%;
    height: 46px;
    border-radius: 5px;
    margin: 20px auto 10px;
    padding: 10px 0px 0px;
}

.pricelist-content-vip .counterWrapper-vip .price span{
    color: white;
}

.pricelist-content-vip .progress{
    height: 265px;
}

.pricelist-content-vip .reserve-button{
    padding-top: 8px;
    display: block;
}

.pricelist-content-vip .reserve-button .yellow-button{
    color: #404040;
    text-shadow: 1px 1px #f9f9f9;
    background: #f1f1f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f1f1f1 0%, #dedede 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(80%,#dedede)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #f1f1f1 0%,#dedede 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.pricelist-content-vip .reserve-button .yellow-button:hover{
    color: #5f5f5f;
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 80%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 80%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.about-price .reserve{
    display: none;
}

.pricelist-content-vip .about-price .reserve{
    display: block;
}

.reserve-button{
    display: none;
}

.price{
    padding-top: 16px;
}

.favorites:before{
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    padding-right: 4px;
}

.about-item .tab-content{
    overflow: auto;
}

.about-item .nav-tabs{
    border-bottom: 3px solid;
    border-color: #bcbcbc;
}

.about-item .nav-tabs li a{
    color: black;
    border-left: 1px solid #bcbcbc;
    border-right:  1px solid #bcbcbc;
    border-top:  1px solid #bcbcbc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.about-item .nav-tabs > .active > a{
    color: white ;
}
            .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
.about-item .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #bcbcbc !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white !important;
    border-left: none;
    border-right: none;
    border-top: none;
}

.product-characteristics{
    width: 50%;
    float: left;
    padding-right: 40px;
    color: #414141;
}

.tabTitle{
    font-size: 20px;
}

.product-characteristics .characteristics{
    height: 30px;
    font-size: 13px;
}

.product-characteristics .characteristic{
    float: left;
    width: 400px;
    color: #29a1e0;
    font-family: OpenSans-Semibold;
}

.customer-reviews{
    width: 50%;
    float: left;
}

.reviews-tab .customer-reviews{
    width: 100%;
    float: none;
}

.customer-reviews-title span{
    float: left;
    padding-right: 10px;
    font-size: 20px;
}

.customer-reviews span{
    float: left;
}


/*.write-review{
    float: left;
}

.write-review a:before{
    content: '' !important;
}

.write-review .btn-lg{
   padding: 0px;
}

.write-review .btn{
    font-size: 13px !important;
}

.write-review .btn-info{
    color: #fff;
    background-color: #03a7d4;
    border: none;
}

.write-review .btn-lg{
    float: left;
    background: #fbbf23;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    color: #565655;
    margin-top: 7px;
    cursor: pointer;
    line-height: 1.3333333;
    padding-bottom: 1px;
}

.write-review .modal-content{
    background-color: #fafafa;
}

.write-review .modal-dialog{
    width: 850px;
}

.remodal{
    max-width: 570px !important;
}

.write-review span{
    font-size: 30px;
    float: none;
    padding-bottom: 30px;
    display: block;
}

.write-review .row{
    margin: 0px;
    padding-bottom: 20px;
    color: #565655;
}

.row label{
    position: absolute;
    margin: 10px;
}

.write-review .row span{
    width: 200px;
    font-size: 16px;
    line-height: 40px;
    padding: 0px;
    text-align: left;
    float: left;
}

.write-review .row input{
    width: 300px;
    height: 40px;
    padding-left: 35px;
    border: 1px solid #d2d8d8;
    /*color: rgb(129, 187, 114);
    border: 1px solid rgb(129, 187, 114); accept*/
    /*border: 1px solid rgb(246, 193, 195);
    color: rgb(236, 126, 130); denied*/
/*}

.write-review .row textarea{
    width: 100%;
    max-width: 500px;
    resize: none;
    height: 200px;
}

.write-review .modal-body{
    text-align: center;
}*/

.all-reviews{
    width: 100%;
    height: 40px;
    display: block;
    background: rgba(255, 136, 0, 0.1) none repeat scroll 0% 0%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.add-review{
    margin-top: 10px;
    background: rgba(100, 136, 150, 0.1) none repeat scroll 0% 0%;
    padding: 10px 15px;
    overflow: auto;
}

.add-review-info span{
    font-size: 14px;
    float: left;
    width: 50%;
}

.add-review-info .review{
    width: inherit;
    margin-top: 40px;
    height: 20px;
}

.add-review input{
    float: left;
}

.main {
    display: none;
}

.add-review textarea[type=text]{
    max-width: 550px;
    width: 100%;
    height: 16px;
    font-size: 12px;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    resize: none;
}

.add-review textarea[type=text]:focus{
    width: 400px;
    height: 100px;
    font-size: 12px;
    float: right;
}

.customer-reviews a{
    padding-left: 12px;
    color: #aeaeae;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.review-number a:hover{
    text-decoration: none;
    color: #bab6b6;
}

.review-number a:before{
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    padding-right: 5px;
}

.customer-review{
    padding-top: 20px;
}

.reviewer-name{
    color: #03a7d4;
    float: left;
    padding-right: 10px;
}

.review-data{
    font-size: 12px;
    color: #bab6b6;
    padding-top: 2px;
}

.customer-review span{
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.review-answer {
    color: #03a7d4;
    padding: 0px;
    cursor: pointer;
}

.review-answer:hover {
    text-decoration: underline;
}

.soc-item-share .shareToFriends{
    padding-right: 20px;
    padding-top: 3px;
}

.item-detail{
    float: left;
    width: 50%;
    text-align: center;
}

.item-detail .details{
    font-size: 13px;
    float: left;
    width: 100%;
    text-align: left;
}

.details {
    padding-top: 20px;
}

.item-video{
    margin: auto;
    display: block;
    padding-top: 10px;
}

.reloadCaptchaz {
    background: url("/img/site/reload.png")  no-repeat scroll 0% 50% transparent;;
    width: 28px !important;
    height: 40px;
    border: medium none;
    color: transparent;
    float: left;
}

.captcha{

}

.icon-review{

}

.icon-user{
    background-image: url("/img/site/name.svg");
    width: 20px;
    height: 20px;

}

/*========* END CART-ITEM *=========*/