html{
	height: 100%;
}

body{
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-family: OpenSans;
}

p{
	font-size: 13px;
	color: #676767;
}

sup{
	text-decoration: underline;
}

.staticPage h1{
	font-size: 20px;
	color: #676767;
	margin: 20px 0 10px 0;
	display: inline-block;
	width: 100%;
}

.label h1{
	font-size: 28px;
	display: inline-block;
	color: #4f4f4f;
}

h2{
	font-size: 16px;
	color: #4f4f4f;
}

.link-hide{
	cursor: pointer;
	line-height: normal;
	text-decoration: underline;
}

/* Header style
======================================================================================================== */

/* Font loading */
@font-face{
	font-family: 'PFDinTextCompPro';
	src: url('../fonts/pfdintextcomppro-webfont.eot');
	src: url('../fonts/pfdintextcomppro-webfont.eot#iefix') format('embedded-opentype'),
	url('../fonts/pfdintextcomppro-webfont.woff') format('woff'),
	url('../fonts/pfdintextcomppro-webfont.ttf') format('truetype'),
	url('../fonts/pfdintextcomppro-webfont.svg#pf_din_text_comp_prothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face{
	font-family: 'shop';
	src: url('../fonts/shop.eot');
	src: url('../fonts/shop.eot#iefix') format('embedded-opentype'),
	url('../fonts/shop.woff') format('woff'),
	url('../fonts/shop.ttf') format('truetype'),
	url('../fonts/shop.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
    font-family: 'shop';
    src: url('../fonts/shop.eot?3153255');
    src: url('../fonts/shop.eot?3153255#iefix') format('embedded-opentype'),
    url('../fonts/shop.woff?3153255') format('woff'),
    url('../fonts/shop.ttf?3153255') format('truetype'),
    url('../fonts/shop.svg?3153255#shop') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans.woff') format('woff'),
	url('../fonts/OpenSans.ttf')  format('truetype'),
	url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Italic.woff') format('woff'),
	url('../fonts/OpenSans-Italic.ttf')  format('truetype'),
	url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Semibold.woff') format('woff'),
	url('../fonts/OpenSans-Semibold.ttf')  format('truetype'),
	url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'SolomonSans-Semibold';
	src: url('../fonts/SolomonSans-semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SolomonSans-semibold.woff') format('woff'),
	url('../fonts/SolomonSans-semibold.ttf') format('truetype'),
	url('../fonts/SolomonSans-semibold.svg#SolomonSans-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'OpenSans-LightItalic';
	src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-LightItalic.woff') format('woff'),
	url('../fonts/OpenSans-LightItalic.ttf') format('truetype'),
	url('../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* End font loading */
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'shop';
    src: url('../fonts/shop.svg?3153255#shop') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "shop";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1m;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-note:before { content: '\e800'; }
.icon-your-discont:before { content: '\e801'; }
.icon-box:before { content: '\e802'; }
.icon-delivery-car:before { content: '\e803'; }
.icon-money-pig:before { content: '\e804'; }
.icon-print:before { content: '\e805'; }
.icon-spin6:before { content: '\e806'; }
.icon-arrow:before { content: '\e807'; }

.shop-circle-empty:before { content: '\e800'; }
.shop-star:before { content: '\e801'; }
.shop-search-8:before { content: '\e802'; }
.shop-cog-4:before { content: '\e803'; }
.shop-heart-8:before { content: '\e804'; }
.shop-help-circled-3:before { content: '\e805'; }
.shop-menu:before { content: '\e806'; }
.shop-star-empty-3:before { content: '\e807'; }
.shop-zoom-in-2:before { content: '\e808'; }
.shop-googleplus:before { content: '\e809'; }
.shop-plus-circle:before { content: '\e80a'; }
.shop-facebook:before { content: '\e80b'; }
.shop-twitter:before { content: '\e80c'; }
.shop-vkontakte:before { content: '\e80d'; }
.shop-youtube-play:before { content: '\e80e'; }
.shop-star-half-1:before { content: '\e80f'; }
.shop-odnoklassniki:before { content: '\e810'; }
.shop-clock-8:before { content: '\e811'; }
.shop-left-circle:before { content: '\e812'; }
.shop-right-circle:before { content: '\e813'; }
.shop-star-half-alt:before { content: '\e814'; }
.shop-chat-2:before { content: '\e815'; }
.shop-menu-2:before { content: '\e816'; }
.shop-cancel-7:before { content: '\e817'; }
.shop-cancel-1:before { content: '\e818'; }
.shop-vkontakte-1:before { content: '\e819'; }
.shop-facebook-1:before { content: '\e81a'; }
.shop-gplus:before { content: '\e81b'; }
.shop-comment-empty:before { content: '\e81c'; }
.shop-help-circled-alt:before { content: '\e81d'; }
.shop-phone-3:before { content: '\e820'; }
.shop-cw-5:before { content: '\e823'; }
.shop-minus-circle:before { content: '\e824'; }
.shop-odnoklassniki-rect:before { content: '\e81e'; }
.shop-twitter-squared:before { content: '\e81f'; }
.shop-arrows-ccw:before { content: '\e821'; }
.shop-comment:before { content: '\e822'; }
.shop-skype:before { content: '\e825'; }

.yellow-button{
	position: relative;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-family: OpenSans-Semibold;
	color: #6f550f;
	text-shadow: 1px 1px #fee37f;
	background: #ffd600; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd600 0%, #f9b519 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd600), color-stop(80%,#f9b519)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffd600 0%,#f9b519 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffd600 0%,#f9b519 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffd600 0%,#f9b519 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffd600 0%,#f9b519 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd600', endColorstr='#f9b519',GradientType=0 ); /* IE6-9 */
}

.yellow-button:disabled{
	color: #c8c8c8;
	text-shadow: 1px 1px #f9f9f9;
	background: #f1f1f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #dedede 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(80%,#dedede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#dedede 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f1f1 0%,#dedede 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
}

.yellow-button:not(:disabled):hover{
	background: #fcdb33; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcdb33 0%, #fad93f 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcdb33), color-stop(80%,#fad93f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcdb33 0%,#fad93f 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcdb33 0%,#fad93f 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcdb33 0%,#fad93f 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #fcdb33 0%,#fad93f 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcdb33', endColorstr='#fad93f',GradientType=0 ); /* IE6-9 */
}

.gray-button{
	height: 45px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-family: OpenSans-Semibold;
	color: #404040;
	text-shadow: 1px 1px #f9f9f9;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8e8e8 0%, #cccccc 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(80%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8e8e8 0%,#cccccc 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8e8e8 0%,#cccccc 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8e8e8 0%,#cccccc 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8e8e8 0%,#cccccc 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.gray-button:disabled{
	color: #c8c8c8;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.gray-button:not(:disabled):hover{
	color: #5f5f5f;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.green-button{
	border: none;
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-family: OpenSans-Semibold;
	color: #fff;
	text-shadow: 1px 1px #1b8921;
	background: #6fce72; /* Old browsers */
	background: -moz-linear-gradient(top,  #6fce72 0%, #1b8921 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fce72), color-stop(100%,#1b8921)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6fce72 0%,#1b8921 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6fce72 0%,#1b8921 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6fce72 0%,#1b8921 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6fce72 0%,#1b8921 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fce72', endColorstr='#1b8921',GradientType=0 ); /* IE6-9 */
}

.green-button:disabled{
	color: #c8c8c8;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(80%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 80%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 80%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.green-button:not(:disabled):hover{
	background: #6fce72; /* Old browsers */
	background: -moz-linear-gradient(top,  #6fce72 0%, #24b73d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fce72), color-stop(100%,#24b73d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6fce72 0%,#24b73d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6fce72 0%,#24b73d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6fce72 0%,#24b73d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6fce72 0%,#24b73d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fce72', endColorstr='#24b73d',GradientType=0 ); /* IE6-9 */
}

.large-button{
	width: 260px;
	height: 45px;
}

.middle-button{
	width: 100px;
	height: 45px;
}

.small-button{
	width: 100px;
	height: 35px;
}

.italic{
	font-family: OpenSans-Italic;
}

.uppercase{
	text-transform: uppercase;
}

.blue{
	color: #03a7d4 !important;
}

.red{
	color: #ce0f0f;
}

.orange{
	color: #f60;
}

.cart-message{
	background: #fff;
	text-align: center;
}

.semi-bold{
	font-family: OpenSans-Semibold;
}

.myriad{
    font-family: MyriadProRegular;
}

.center{
	text-align: center;
}

.invisible{
	display: none;
}

.advantagesCenter, .footerCenter, .info-center{
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
}

.all-banners{
	width: 100%;
	position: relative;
	text-align: center;
}

.all-banners-center{
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	display: inline-block;
}

.all-banners-center-line{
	border-top: 1px dashed #cacaca;
	width: 100%;
	position: absolute;
	top: 50%;
	z-index: -1;
}

.all-banners-center .central-banners{
	background: #fff;
	max-width: 600px;
	height: 274px;
	display: inline-block;
	border-radius: 10px;
	border: 1px dashed #cacaca;
	padding: 4px;
	overflow: hidden;
}

.all-banners-center .single-banner{
	background: #fff;
	overflow: hidden;
	border-radius: 10px;
	border: 1px dashed #cacaca;
	padding: 4px;
	max-width: 285px;
	line-height: 0px;
	font-size: 0px;
}

.all-banners-center img{
	border-radius: 5px;
}

.all-banners-center .left-banner{
	float: left;
}

.all-banners-center .right-banner{
	float: right;
}

.all-banners-center .slick-dots{
	width: auto;
	float: right;
	position: relative;
	top: -23px;
}

.all-banners-center .slick-dots li{
	width: 28px;
	height: 23px;
	margin: 0 6px;
	cursor: pointer;
	float: left;
	opacity: 0.5;
	color: #dbdbdb;
	background: #000;
	position: relative;
}

.all-banners-center .slick-dots li:hover{
	color: #03a7d4;
	opacity: 1;
	background: #dbdbdb;
}

.all-banners-center .slick-dots li:before{
	content: "";
	position: absolute;
	top: -8px;
	left: 0;
	border-width: 0 14px 8px;
	border-style: solid;
}

.all-banners-center .slick-dots li.slick-active:before, .all-banners-center .slick-dots li.slick-active:hover:before{
	border-color: transparent transparent #03a7d4;
}

.all-banners-center .slick-dots li:before{
	border-color: transparent transparent #000;
}

.all-banners-center .slick-dots li:hover:before{
	border-color: transparent transparent #dbdbdb;
}

.all-banners-center .slick-dots li.slick-active, .all-banners-center .slick-dots li.slick-active:hover{
	cursor: default;
	opacity: 1;
	color: #fff;
	background: #03a7d4;
}

.advantages{
	overflow: hidden;
	height: auto;
	margin-top: 15px;
	text-align: center;
}

.advantages ul{
	display: inline-block;
	width: 100%;
}

.advantages li{
	float: left;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	color: #4f4f4f;
}

.advantages li div{
	display: table;
	height: 100%;
}

.advantages li span{
	display: table-cell;
	width: 130px;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.advantages li:before{
	position: absolute;
	top: 25px;
}

.advantages #label{
	width: 380px;
	background: url("/img/site/text.png") no-repeat scroll 0% 50% transparent;
}

.advantages #opt:before{
	content: url("/img/site/opt.png");
}

.advantages #disc:before{
	content: url("/img/site/discount.png");
}

.advantages #minorder:before{
	content: url("/img/site/minorder.png");
}

.advantages #ret:before{
	content: url("/img/site/ret.png");
}

.sender{
	padding: 10px 0;
	text-align: center;
	border-top: 1px dashed #cacaca;
}

.sender a{
	font-size: 16px;
	color: #4f4f4f;
	padding-right: 60px;
}

.sender a:hover, .sender a:active{
	color: #03a7d4;
}

.info{
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5) inset;
	background: url('/img/site/slide_info_bg.png') repeat;
	padding: 4px 0px;
}

.info .slick-slider{
	margin: 0;
	padding-top: 80px;
}

.info .slick-slide{
	height: auto;
}

.info .slick-dots{
	top: 15px;
	bottom: auto;
}

.info .slick-dots li{
	width: auto;
	height: auto;
	font-family: OpenSans-LightItalic;
	font-size: 22px;
	margin: 0 25px;
	padding: 5px 50px;
	color: #4f4f4f;
	cursor: pointer;
}

.info .slick-dots li span{
	border-bottom: 1px dashed #4f4f4f;
}

.info .slick-dots .slick-active{
	color: #fff;
	background: #03a7d4;
	border-radius: 20px;
	cursor: default;
}

.info .slick-dots .slick-active span{
	border-bottom: none;
}

.info .article, .info .review, .info .question-answer{
	width: 33.33%;
	height: 290px;
	float:left;
	position: relative;
	padding: 0 20px;
	font-size: 12px;
}

.info .articles:after, .info .reviews:after, .info .questions:after{
	content: '';
	display: table;
	clear: both;
}

.question .question-label{
	color: #C09530;
	padding-top: 10px;
	font-size: 1.4em;
}

.answer .answer-label{
	color: #1795ca;
	padding-top: 10px;
	font-size: 1.4em;
}

.question .question-date, .review .review-date, .answer .answer-date{
	font-size: 1em;
	color: #a1a1a1;
}

.question .question-msg, .answer .answer-msg{
	font-family: OpenSans-Italic;
	font-size: 1em;
}

.question .question-msg:before, .answer .answer-msg:before{
	content: '';
	width: 13px;
	height: 10px;
	float: left;
	margin-right: 7px;
	background: url("/img/site/quotes.png") no-repeat;
}

.review{
	font-size: 12px;
}

.review .additional-data{
	height: 100px;
}

.review .user-name{
	color: #03a7d4;
	font-size: 1.5em;
}

.review .user-occupation{
	color: #03a7d4;
	font-size: 1.1em;
}

.review .review-message{
	height: 190px;
	line-height: 1.7em;
	overflow: hidden;
	font-size: 1.1em;
	position: relative;
}

.review .review-message:after{
	content: '';
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 60px;
	display: block;
	background: transparent linear-gradient(rgba(243, 243, 243, 0) 0%, #F3F3F3 90%) repeat scroll 0% 0%;
}

/*==============* ITEM STYLE *================*/

.hovered{
	width: 33.33%;
	width: 300px;
	height: 365px;
	position: relative;
	float: left;
}

.item{
	width: 100%;
	height: auto;
	background: #fff;
	position: relative;
	padding: 0 15px;
}

.hovered:hover .item{
	box-shadow: 0 3px 10px #516d89;
	border: 1px solid #bfd1e3;
	border-radius: 5px;
	z-index: 2;
	background: rgba(255,255,255,0.9);
	box-sizing: padding-box;
	left: -1px;
	top: -1px;
}

.hovered:hover .item .inner-main{
	border-bottom: 1px solid #e5e5e5;
}

.hovered:hover .item .inner-sub{
	display: block;
}

.hovered:not(:nth-child(3n - 2)){
	border-right: 1px dotted #aaafb0;
}

.hovered:nth-child(3n - 2){
	border-right: 1px solid transparent;
}

.item .inner-main{
	border-bottom: 1px dotted #aaafb0;
	padding-top: 15px;
	height: 365px;
	position: relative;
}

.item .inner-sub{
	width: 100%;
	height: auto;
	padding: 20px 0 10px;
	position: relative;
	display: none;
}

.item .title{
	width: 100%;
	height: 50px;
	display: table;
}

.item .title a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}

.item .code{
	width: 100%;
	height: 15px;
	text-align: center;
	font-size: 12px;
	margin-bottom: 5px;
}

.item .open-item img{
	width: 90%;
	margin: 5%;
	height: 190px;
	border-radius: 5px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.item:hover .open-item img{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.item .open-item{
	display: block;
	position: relative;
}

.item .open-item:hover .open-modal-item{
	height: 28px;
	width: 28px;
	position: absolute;
	cursor: pointer;
	top: 27px;
	right: 10px;
	background: #1c7bd3;
	border-radius: 3px;
	opacity: 0.8;
	line-height: normal;
}

.item .open-item:hover .open-modal-item:hover{
	opacity: 1;
}

.item .open-item:hover .open-modal-item:after{
	content: '\e808';
	font-family: shop;
	color: #fff;
	font-size: 20px;
	position: absolute;
	cursor: pointer;
	top: 4px;
	right: 8px;
}

.item .buy-block{
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: table;
	padding: 0 10px;
}

.item .pricelist{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.item .can-buy{
	display: table-cell;
	vertical-align: middle;
	max-width: 100px;
	text-align: right;
}

.item .expected-arrival{
	text-align: center;
	color: #4f4f4f;
}

.buy-block .wholesale-price{
	font-size: 24px;
}

.buy-block .wholesale-price .currency{
	font-size: 20px;
}

.buy-block .retail-price{
	font-size: 12px;
	color: #4f4f4f;
}

.buy-block .sale-price{
	font-size: 22px;
}

.buy-block .old-wholesale-price{
	position: relative;
	font-size: 14px;
	color: #8c8c8c;
}

.buy-block .old-wholesale-price:after{
	width: 85%;
	height: 2px;
	display: block;
	background: #ce0f0f;
	content: "";
	position: absolute;
	bottom: 10px;
	transform: rotate(6deg);
}

.item .inner-sub > div > span{
	font-size: 12px;
	color: #4f4f4f;
}

.item .inner-sub .counter{
	width: auto;
	position: absolute;
	top: -10px;
	background: #fff;
	right: 0;
	padding: 0 20px 0 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.counter div{
	width: 15px;
	height: 15px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	color: #03a7d4;
}

.counter .minus:after, .counter .plus:after{
	font-family: shop;
	position: absolute;
	top: 0;
	left: 0;
}

.counter .minus:hover, .counter .plus:hover{
	color: #1c7bd3 !important;
}

.counter .minus:after{
	content: '\e824';
}

.counter .plus:after{
	content: '\e80a';
}

.counter .count{
	border: none;
	width: 40px;
	text-align: center;
	background: transparent;
}

.item .outerSpan{
	font-size: 12px;
	color: #4f4f4f;
	line-height: 28px;
}

.item .innerSpan{
	padding-left: 5px;
}

[class^="shop-star"], [class*=" shop-star"]{
	width: 1.2em;
	height: 1.25em;
	float: right;
	color: transparent;
	cursor: pointer;
}

.rating .currentRating, .rating .rateCount{
	color: transparent;
	position: absolute;
	z-index: -10;
}


.rating > div:before{
	color: #ddd;
}

.rating > .current:before,
.rating > .current ~ div:before{
	color: #f9bc2d;
}

.rating > div:hover:before,
.rating > div:hover ~ div:before{
	color: #f9bc2d;
}

.item .item-info{
	font-size: 12px;
	text-align: center;
}

.count-in-store-green{
	color: #4fab22;
}

.count-in-store-red{
	color: #e65a5a;
}

.count-in-store-brown{
	color: brown;
}

.bg-capt-green{
	background: #3fa858;
}

.bg-capt-green:after{
	border: 11px solid #3fa858;
}

.bg-capt-purple{
	background: #8f1dd0;
}

.bg-capt-purple:after{
	border: 11px solid #8f1dd0;
}

.bg-capt-red{
	background: #d11818;
}

.bg-capt-red:after{
	border: 11px solid #d11818;
}

.capt-flags{
	top: 20px;
	left: 0;
	width: auto;
	position: absolute;
}

.capt-flags:after{
	content: '';
	clear: both;
	display: table;
}

.capt-flags .capt-flag{
	position: relative;
	width: auto;
	height: 22px;
	font-size: 10px;
	color: #fff;
	text-align: left;
	padding: 0 13px 0 10px;
	margin: 10px 0;
	line-height: 22px;
	cursor: pointer;
	text-transform: uppercase;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.capt-flags .capt-flag:after{
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: -11px;
	border-right-color: transparent !important;
}

.capt-flags .capt-flag:before{
	content: '';
	position: absolute;
	display: block;
	left: 0;
	bottom: -4px;
	width: 15px;
	height: 30px;
	-webkit-box-shadow: 15px 0 11px -18px #000 inset;
	-moz-box-shadow:    15px 0 11px -18px #000 inset;
	box-shadow: 15px 0 11px -18px #000 inset;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.item .discount{
	width: 76px;
	height: 76px;
	position: absolute;
	border-radius: 38px;
	border: 2px solid #a7ef7f;
	top: 15px;
	right: 15px;
	overflow: hidden;
	text-align: center;
	line-height: 1px;
	display: block;
}

.item .discount .top{
	width: 100%;
	height: 35px;
	background: #87d45d;
	border-bottom: 1px solid #a7ef7f;
	padding-top: 5px;
	color: #338307;
}

.item .discount .top div:first-of-type{
	font-size: 10px;
	line-height: 14px;
}

.item .discount .top div:last-of-type{
	font-size: 12px;
	line-height: 16px;
}

.item .discount .bottom{
	width: 100%;
	height: 45px;
	background: #5fb430;
	color: #fff;
}

.item .discount .bottom div:first-of-type{
	font-size: 18px;
	line-height: 22px;
}

.item .discount .bottom div:last-of-type{
	font-size: 10px;
	line-height: 10px;
}

/*============* AND ITEM STYLE *==============*/

/*=============* FOOTER STYLE *===============*/

footer{
	width: 100%;
	background: #0298c1;
	bottom: 0;
	z-index: 4;
}

.footerCenter .socialNetworks{
	width: 220px;
}

.footerCenter .socialNetworks a{
	text-decoration: none;
}

.footerCenter .socialNetworks i{
	position: relative;
	font-size: 30px;
	color: #fff;
	opacity: 0.8;
	margin: 0 5px 5px 0;
}

.footerCenter .socialNetworks i:hover{
	opacity: 1;
}

.footerCenter .socialNetworks i.shop-twitter-squared{
	font-size: 39px;
}

.footerCenter .socialNetworks i.shop-twitter-squared:before{
	position: relative;
	top: 4px;
}

.footerCenter .support{
	width: 300px;
	color: #fff;
	float: right;
}

.footerCenter .reference1{
	width: 200px;
}

.footerCenter .link-hide{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

.footerCenter .quickReference .link-hide:hover{
	text-decoration: underline;
}

.footerCenter .reference1 .link-hide{
	display: inherit;
	padding: 8px 0;
}

.footerCenter .primeNumber{
	font-size: 30px;
	margin: 0 0 10px 0;
}

.footerCenter .supportName{
	font-size: 18px;
}

.footerCenter .workTime{
	font-size: 14px;
}

.footerCenter .support > span{
	display: inherit;
}

.footerCenter .support > div > div{
	height: 16px;
	border-bottom: 1px dotted #fff;
	position: relative;
}

.footerCenter .support > div > div span{
	background: #0298c1;
	font-size: 14px;
	position: absolute;
	margin-top: 2px;
	padding-bottom: 1px;
}

.footerCenter .support > div > div span:last-of-type{
	padding-right: 20px;
	right: 0;
	position: absolute;
}

/*========* END FOOTER STYLE *==========*/


/*========* ADAPTIV *=========*/


@media screen and (max-width: 1450px){
	.fixed-left-banner-blog{
		display: none;
	}
}

@media screen and (min-width: 1291px){
	.advantages #minorder, .advantages #ret, .advantages #opt, .advantages #disc{
		width: auto;
		padding-right: 5px;
	}

	.catalog{
		width: 900px;
		float: right;
	}
}

@media screen and (max-width: 1290px){
	.advantages #label{
		display: none;
	}

	.advantages li{
		width: 24.88888%;
	}

	.advantages li div{
		float: right;
	}

	.advantages li:before {
		left: 90px;
	}

	.leftMenu{
		display: none;
	}

	.catalog{
		width: 900px;
		margin: 0 auto;
	}
}


@media screen and (min-width: 1191px){
	.footerCenter .quickReference > div {
		float: left;
	}

	.footerCenter .reference2 {
		width: 370px;
		padding-left: 30px;
	}

	.footerCenter .reference2 .link-hide{
		padding: 8px 25px;
	}

	.footerCenter .quickReference{
		width: 600px;
	}

	.advantages li{
		height: 100px;
		text-align: left;
	}

	.advantages li div {
		padding-left: 70px;
	}

	.advantages li span{
		vertical-align: middle;
	}
}

@media screen and (max-width: 1190px){
	.left-banner, .right-banner{
		display: none;
	}

	.footerCenter .quickReference > div {
		float: none;
	}

	.footerCenter .reference2 {
		width: 100px;
	}

	.footerCenter .reference2 .link-hide {
		padding: 8px 25px 8px 0;
		display: inherit;
	}

	.footerCenter .quickReference{
		width: 30%;
	}

	.advantages li{
		height: 140px;
		text-align: center;
	}

	.advantages li div {
		float: none;
		margin: 0 auto;
	}

	.advantages li span{
		vertical-align: bottom;
	}

	.advantages li:before {
		left: 38%;
	}
}

@media screen and (min-width: 1125px){

}

@media screen and (max-width: 1124px){

}

@media screen and (min-width: 1025px){

}


@media screen and (min-width: 976px){

}

@media screen and (min-width: 976px) and (max-width: 1190px){

}

@media screen and (max-width: 975px){
	@media screen and (min-width: 621px){
	}
}

@media screen and (min-width: 955px){

}

@media screen and (max-width: 954px){

}

@media screen and (min-width: 901px){

}

@media screen and (max-width: 900px){

}

@media screen and (min-width: 821px){

}

@media screen and (max-width: 820px){
	.footerCenter .socialNetworks {
		float: right;
	}
}

@media screen and (min-width: 725px){

}

@media screen and (max-width: 790px){

}

@media screen and (max-width: 770px){
	@media screen and (max-width: 620px){

	}
}

@media screen and (min-width: 621px) and (max-width: 760px){

}

@media screen and (min-width: 621px){

}

@media screen and (max-width: 620px){
	.advantages{
		display: none;
	}
}

@media screen and (max-width: 481px){

}


@media screen and (min-width: 541px){
	.contentContainer{
		padding-bottom: 310px;
	}
	footer{
		height: 310px;
	}
}

@media screen and (max-width: 540px){
	.contentContainer{
		padding-bottom: 50px;
	}
}


@media screen and (min-width: 541px){
	.footerContacts{
		display: none;
	}

	.footerCenter > div{
		float: left;
	}

	.footerCenter{
		padding: 35px 40px;
	}
}

@media screen and (max-width: 540px){
	footer .quickReference, footer .socialNetworks, footer .support{
		display: none;
	}

	.footerContacts{
		display: block;
		width: 290px;
		margin: 0 auto;
		overflow: hidden;
	}

	.footerCenter{
		padding: 15px 0;
	}

	.footerContacts .phone {
		width: 26px;
		height: 26px;
		position: relative;
		float: left;
	}

	.footerContacts .phone:after{
		content: '\e820';
		font-family: shop;
		position: absolute;
		top: 2px;
		right: 0;
		color: #fff;
		font-size: 20px;
	}

	.footerContacts .number {
		font-size: 18px;
		color: #fff;
		float: left;
		padding-left: 10px;
	}

	@media screen and (max-width: 460px){

	}
}

@media screen and (min-width: 461px){
	footer{
		position: absolute;
	}
}

@media screen and (max-width: 460px){
	footer{
		position: fixed;
	}
}

@media screen and (min-width: 400px){

}

@media screen and (max-width: 400px){

}

@media screen and (min-width: 351px){

}

@media screen and (max-width: 350px){

}


@media screen and (max-width: 1124px){

}

@media screen and (max-width: 1080px){

}

@media screen and (max-width: 975px){

}

/*========* END ADAPTIV *=========*/


/*========* ACCOUNT *=========*/

.icon
{
    font-family: "shop";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-size: 32px;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    vertical-align: bottom;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /*font-size: 250%;*/
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.content{
    width: 1250px;
    margin: 0 auto;
}

.user-data-content{
    float: right;
    width: 945px;
}

.user-account-data{
    height: 400px;
    width: 100%;
}

.user-money-discount{
    width:100%;
    height:170px;
}
.user-account .myriad{
    font-size: 22px;
    vertical-align: middle;
}

.user-account .semi{
    width: 180px;
    margin-left: 18px;
    vertical-align: middle;
    float: left;
}

.user-account .address-data{
    margin-left: 18px;

}
.user-account .address{
    padding-top: 20px;
}

.user-account .semi-font{
    font-size: 16px;
}

.user-account .data{
    padding-top: 30px;
    height: 180px;

}

.menu{
    width: 332px;
    float: left;
    height: ;
}

.pages{
    float: left;
    width: 70%;
}

.page{
    float: left;
    width: 100%;
}
.personal-data{
    float: left;
    padding-bottom: 20px;
}
.personal-discount{
    float: left;
    padding-bottom: 20px;
    width:50%;
}

.icon-delivery-car{
    padding-left: 7px;
    width: initial;
    font-size: 28px;
    vertical-align: sub;
    color: #1998db;
}

.icon-money-pig{
    padding-left: 3px;
    width: 37px;
    vertical-align: initial;
}

.icon-your-discont{
    vertical-align: initial;
}

.icon-arrow{
    font-size: 18px;
    margin: 18px;
    width: 37px;
    vertical-align: middle;
    float: left;
}

.icon-print{
    font-size: 25px;
    float: left;
}
.icon-box{
    vertical-align: baseline;
}
.color{
    color: #1998db;
}

.hr{
    color: #dadada;
    height: 307px;
    border: solid;
    border-width: 1px;
    float: left;
    margin-top: 45px;
}

.user-options{
    font-size: 14px;
    float: left;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 30%;
    height: 100%;
}

.user-options .border{
    height: 300px;
    border-left: 1px solid;
    border-color: #dadada;
    padding-left: 60px;
}

.user-options a{
    font-size: 14px;
    float: left;
    padding-bottom: 25px;
}

.account-money{
    font-size: 24px;
    padding-top: 8px;
}

.reviews{
    width: 923px;
    height: 305px;
    float: left;
    margin-left: 18px;
    background-color: #e2f3fc;
}

.reviews .text{
    padding-left: 40px;
    padding-top: 35px;
}

.my-orders{
    padding-top: 150px;
    float: left;
    width: 923px;
    margin-left: 18px;
}

.order{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-top: 25px;
}

.order-waiting{
    background: #fdfdfd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #f8f8f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #f8f8f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #f8f8f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #f8f8f8); /* Standard syntax */
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 1px solid #f9f9f9;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 2px 7px 0px rgba(221,221,221,1);
    box-shadow: 0px 2px 7px 0px rgba(221,221,221,1);
    border-left: 10px solid #b1cf83;
}
.order-waiting .icon-arrow{
    margin: 10px;
    margin-right: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.orders .myriad{
    font-size: 16px;
    color:#4d7aa1;
    float: left;
    margin-top: 16px;
}

.orders .semi{
    font-size: 14px;
    vertical-align: top;
    float: left;
    margin-top: 17px;
    margin-left: 60px;
}

.orders .data{
}

.orders .payment{
    margin-left: 70px;
    width: 126px;
}

.orders .money{
    width: 185px;
    height: 60px;
    margin-left: 0;
    padding-left: 60px;
}

.orders .print{
    margin-left: 0px;
    margin-top: 13px;
}

.orders .history{
    margin-left: 35px;
}

.orders .reorder{
    margin-left: 30px;
}

.order-complete{
    background: #f1f7f0;
    border: 3px solid #c5e2c9;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.order-canceled{
    background: #fcf3f3;
    border: 3px solid #f9d0d0;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

.my-orders .box{
    margin-left: -12px;
    font-size: 22px;
}

/*========* END ACCOUNT *=========*/